*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
header{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.3)), url('img1.jpg');
  background-size: 100% 100%;

}
nav{
  width: 100%;
  height: 15vh;
  background: rgba(0,0,0,0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

}
.logo{
  width: 25%;
  text-align: center;
  /* background: red; */
}
.menu{
  width: 40%;
  /* background: yellow; */
  display: flex;
  justify-content: space-around;
}
.menu a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 25%;
}
.menu a:first-child{
  color:rgba(44, 150, 80, 1);
}
main{
  width: 100%;
  height: 85vh;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  text-align: center;

}
section{
  padding-top: 35px;

}
section h3{
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 2px 2px black;

}
section h1{
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;

}
section p{
  font-size: 25px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}
section a{
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
    transition: all .5s ease;
}
.btnone{
  background: #fff;
  color: #000;
  margin-right: 15px;
  transition: all .5s ease;

}
.btntwo{
  background: rgba(44, 62, 80, 1);
  color: white;
}
.btnone:hover{
  background: rgba(44, 62, 80, 1);
  color: white;
}
.btntwo:hover{
  background: #fff;
  color: #000;

}
.change_content:after{
  content: '';
animation: changetext 10s infinite linear;
  color: rgba(44, 150, 80, 1);
  font-size: 4rem;
  /* text-transform: uppercase; */
}
@keyframes changetext {
  0% { content: "SHIMLA";}
  20% { content: "KASAULI"; }
  35% { content: "DHARAMSHALA"; }
  60% { content: "DALHOUSIE"; }
  80% { content: "SRINAGAR"; }
  100% { content: "MUSSORIE"; }

}
